[submodule "submodules/logging"]
	path = submodules/logging
	url = https://github.com/dylan-lang/logging.git
[submodule "submodules/uncommon-dylan"]
	path = submodules/uncommon-dylan
	url = https://github.com/dylan-lang/uncommon-dylan.git
[submodule "submodules/uri"]
	path = submodules/uri
	url = https://github.com/dylan-lang/uri.git
[submodule "submodules/mime"]
	path = submodules/mime
	url = https://github.com/dylan-lang/mime.git
[submodule "submodules/base64"]
	path = submodules/base64
	url = https://github.com/dylan-lang/base64.git
[submodule "submodules/xml-parser"]
	path = submodules/xml-parser
	url = https://github.com/dylan-lang/xml-parser.git
[submodule "submodules/meta"]
	path = submodules/meta
	url = https://github.com/dylan-lang/meta.git
[submodule "submodules/concurrency"]
	path = submodules/concurrency
	url = https://github.com/dylan-foundry/concurrency.git
[submodule "submodules/serialization"]
	path = submodules/serialization
	url = https://github.com/dylan-foundry/serialization.git
[submodule "submodules/sphinx-extensions"]
	path = submodules/sphinx-extensions
	url = https://github.com/dylan-lang/sphinx-extensions
