<?xml version="1.0" encoding="ISO-8859-1"?>

<http-server>

<!-- Dylan HTTP server configuration file

     Pass this file to the http-server executable with the "config"
     command-line option.

     Anything directly inside the <http-server> element in this file affects
     the server's global environment or the default virtual host.  Anything
     inside a <virtual-host> element applies only to that virtual
     host.

     All settings shown in this file use the default values.
  -->


<!-- <server> controls settings that apply to the server itself:
     root
         The root of the directory tree under which the server's
         configuration and log files are kept.  Other pathnames are
         merged against this one, so if they're relative they will be
         relative to this.

     working-directory
         Change to this working directory.  The specified directory
         is merged against the 'root' attribute first.

     debug
         Enabling this will make the server not try to handle errors
         thrown during the execution of a server request.  Only
         turn this on when running inside a development environment,
         or the server will crash.  This should also be near the
         beginning of the log file if you want to debug config file
         loading.

     use-default-virtual-host
         Whether to lookup URLs using the default virtual host if
         no host matching the request's Host header or URL host
         can be found.
     -->
<server root="/tmp"
        working-directory="/tmp"
        debug="no"
        use-default-virtual-host="yes"
        />


<!-- Controls whether to check template modification dates each time
     the template is displayed, and reparse if necessary.  Obviously
     when enabled this will slow down page rendering.  The default is
     no.  -->
<dsp reparse-templates="no" />


<!-- Debug logging.

     The following options are recognized for each of the three logging
     configuration options:

       location - A filename relative to the server root directory.  If not
                  specified, stderr will be used for the error log and stdout
                  will be used for everything else.

       level    - error, warn, info (the default), debug, or trace.

       max-size - The maximum size in bytes before the log is rotated.
                  Only useful if location is specified.

       format   - A format control string that determines what each log line
                  will look like.  The default shows the time, log level,
                  thread, and message.

     Logging docs:
     https://docs.opendylan.org/packages/logging/documentation/source/index.html

     Logging should be configured near the beginning of this config file so
     debugging statements emitted during config file parsing are logged to the
     correct targets.
  -->
<debug-log
    location="logs/debug.log"
    level="debug"
    />

<!-- The request log follows https://en.wikipedia.org/wiki/Common_Log_Format
     which can be parsed by automated tools.
  -->
<request-log
    location="logs/request.log"
    />


<!-- DIRECTORY elements make file-system directories available at a
     given URL.  Note that if follow-symlinks is true then links will
     be followed even if the target is outside of the specified
     "location".
  -->
<directory  url = "/my-dir"
            location = "/some/filesystem/path"
            allow-multi-view = "yes"
            allow-directory-listing = "no"
            follow-symlinks = "no"
            default-documents = "index.html,index.htm"
            default-content-type = "text/html"
            />

<!-- LISTENER elements are used to add an ip-addr/port pair on which
     to listen for HTTP requests.  Use 0.0.0.0 to listen on all
     interfaces.  There may be multiple listener specs.  The default
     is to listen on 0.0.0.0:80 (non-ssl) if not specified.  -->
<listener address="0.0.0.0" port="8000" ssl="no"/>

<!-- Location of the mime-type file.  By default the contents of the
     file augment the server's default mime-type map.  If clear is enabled
     then the defaults will be removed first.-->
<mime-type-map location="mime-type-map.xml" clear="no" />


<!-- unused as yet -->
<administrator
   email="you@your.domain"
   name="yourname" />


<!-- VIRTUAL-HOST defines a new named virtual host with its own settings.
     Top-level settings apply to the default virtual host.  Here we define
     a new vhost for '127.0.0.1' with a different document root.  With this
     definition in place you will get different document root when you
     access the server with http://127.0.0.1/ than when you access it via any
     other name (e.g. 'localhost').
  -->

<virtual-host name="127.0.0.1">

    <directory url="/seekret-stuff"
               location="/my/seekret/documents"
               allow-directory-listing="no" />

    <!-- Add an alias for the current virtual host. -->
    <host-alias name="alias" />

</virtual-host>

</http-server>
